doctype html
html
    head
        title Desenvolvimento de Aplicações Web (aula 7)
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/w3.css')
        script(ref='/my.js')
    body
        block content